.border_dark{
    border: 1px solid #dddddd;
}
.border_bottom{
    border-bottom: 1px solid #dddddd;
}
.border_top{
    border-top: 1px solid #dddddd;
}
.border_left{
    border-left: 1px solid #dddddd;
}
.border_right{
    border-right: 1px solid #dddddd;
}
.header_bg_soft_dark{
    background: #dddddd;
}
.bg_soft_dark{
    background: #dddddd;
}
.tr_border_bottom{
    border_bottom: 1px solid #dddddd;
}
.sidebar-wrapper .metismenu a .sub_menu_title {
    margin-left: 10px;
    font-size: 12px;
}
.sidebar-wrapper .metismenu a .sub_parent_icon {
    font-size: 16px;
    margin-left: 10px;
    line-height: 1;
}
i.bx.bxs-cloud-upload {
    display: none;
}

#setting {
    margin-top: 5px;
    -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}
